{
  nodes => {
    upstream => {
      interfaces => {
        eth0 => {
          connection => { node => 'diode', interface => 'eth0' },
          ip => '192.168.1.20/24',
        },
      },
      tests => [
        {
          executable => 'ping 192.168.1.21 ' .
                        '2>/tmp/repl/processor.log',
          start => 2,
          duration => 10,
        },
      ],
    },
    diode => {
      interfaces => {
        eth0 => {
          connection => { node => 'upstream', interface => 'eth0' }
        },
        eth1 => {
          connection => { node => 'downstream', interface => 'eth0' }
        },
      },
      tests => [
        {
          executable => './bridge -i diodeeth0 -i diodeeth1 -D '.
                        '2>/tmp/repl/bridge.log',
          start => 1,
          endless => 1,
        }
      ],
    },
    downstream => {
      interfaces => {
        eth0 => {
          connection => { node => 'diode', interface => 'eth1' },
          ip => '192.168.1.21/24',
        },
      },
      tests => [
        {
          executable => 'ping 192.168.1.21 ' .
                        '2>/tmp/repl/processor.log',
          start => 2,
          duration => 10,
        },
      ],
    },
  },
  prepare => './prepare.sh',
  success => './success.sh',
  finish => './finish.sh',
}
